{
  "presets": [
    [
      "env",
      {
        "useBuiltIns": true,
        "targets": {
          "node": "6.9.0"
        },
        "exclude": [
          "transform-async-to-generator",
          "transform-regenerator"
        ]
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        "env"
      ],
      "plugins": []
    }
  }
}
